<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="uk-container uk-container-large" >
    <nav class="uk-navbar " uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li ><a href="">©2020 Mercedes-Benz USA, LLC</a></li>
                </ul>
        </div>
       
       
        <div class="uk-navbar-center">
    
                     <ul class="uk-navbar-nav">
                    <li ><a href="#"  class="uk-text-small">Site Map</a></li>
                    <li><a href="#" class="uk-text-small"> Privacy and Other Legal Notices</a> </li>     
                    <li><a href="#" class="uk-text-small">Do Not Sell My Personal Information</a></li>
                    <li><a href="#" class="uk-text-small">Interest-Based Ads </a></li>
                </ul>
            </div> 
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li ><a href="" uk-toggle="target: #toggle-usage; mode: click" style="color: blue;">View Disclaimer</a>
                        
  
                    </li>
                    </ul>
            </div>
            
        
    </nav>
    <div class="uk-container uk-container-large" id="toggle-usage">
        <p>*
            Base MSRP excludes transportation and handling charges, destination charges, taxes, title, registration, preparation and documentary fees, tags, labor and installation charges, insurance, and optional equipment, products, packages and accessories. Actual vehicle price may vary by Dealer.</p>
        <p>MBFS NMLS #2546↑</p>
        <p>**
            Stated rates of acceleration are based upon manufacturer's track results and may vary depending on model, environmental and road surface conditions, driving style, elevation and vehicle load.↑</p>
         <p>   †EPA estimated fuel economy. Compare the estimated mpg to the estimated mpg of other vehicles. You may get different mileage depending on how fast you drive, weather conditions and trip length. Your actual highway mileage will probably be less than the highway estimate.↑</p>
        <p>‡
            With optional trailer hitch. Read Operator’s Manual before towing. In some states, aftermarket trailer brakes are required. See dealer for details.↑</p>
            <p>1
                Vehicle may not be exactly as shown.↑</p>
                <p>2
                    As a concept car, the designs, features, etc. are subject to change.↑</p>
                    <p>3
                        Services and options provided by participating dealers only. Services and availability vary. Fees and Mileage limitations may apply.</p>
        </div>
</div>
</body>
</html>