<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="uk-container uk-container-small ">
    <div class="uk-position-relative uk-light" uk-slideshow>

        <ul class="uk-slideshow-items">
            <li>
                <div class="uk-cover-container uk-height-viewport" >
                    <img src="assets\img\car1.jfif" alt="" uk-cover>
                    <div class="uk-card  uk-card-body uk-width-1-2@m" >
                        <p>-1/2</p>
                        <h3 class="uk-card-title">The new GLA SUV</h3>
                        <p>All the joy of a compact. All the command of an SUV</p>
                        <button class="uk-button  uk-text-bold"style="background: blue;;color:blanchedalmond;">Expolre</button>
                        <button class="uk-button  uk-margin-left uk-text-bold"style="background:rgb(46, 45, 45);color:rgba(245, 240, 236, 0.884);">Build Yours</button>
                       
                    </div>
                
                </div>
                
            </li>
            <li>
                <div class="uk-cover-container uk-height-viewport " >
                    <img src="assets\img\car1.jfif" alt="" uk-cover>
                    <div class="uk-card  uk-card-body uk-width-1-2@m" >
                        <p>-1/2</p>
                        <h3 class="uk-card-title">The new GLA SUV</h3>
                        <p>All the joy of a compact. All the command of an SUV</p>
                        <button class="uk-button  uk-text-bold"style="background: blue;;color:blanchedalmond;">Expolre</button>
                        <button class="uk-button  uk-margin-left uk-text-bold"style="background:rgb(46, 45, 45);color:rgba(245, 240, 236, 0.884);">Build Yours</button>
                       
                    </div>
                
                </div>
            </li>
            
        </ul>
    
        <div class="uk-position-center-right uk-position-small">
            <ul class="uk-dotnav uk-dotnav-vertical">
                <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
               
            </ul>
        </div>
    
    </div>
    </div>


        
    <div class="uk-container uk-container-small uk-margin-xlarge-top">
        <div class="uk-align-center">
            <p class="uk-text-center   uk-text-bolder">SHOPPING TOOLS</p>
        </div>
       
        <div class="uk-child-width-1-4@s uk-grid-small uk-grid-match" uk-grid>
            <div>
                <div class="uk-card uk-card-default uk-inline-clip uk-transition-toggle" tabindex="0">
                    <img class="uk-height-large uk-transition-scale-up uk-transition-opaque" src="assets\img\grid47.jfif" alt="" > 
                    <div class="uk-overlay uk-position-bottom uk-text-center uk-inline-clip uk-transition-toggle" tabindex="0">
                        <i class="fa fa-car fa-4x uk-transition-scale-up uk-transition-opaque" style="color: aliceblue;" aria-hidden="true" ></i>
                <p class="uk-transition-scale-up uk-transition-opaque" style="color: aliceblue;">ALL <br>VEHICLES</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-inline-clip uk-transition-toggle" tabindex="0">
                    <img class="uk-height-large uk-transition-scale-up uk-transition-opaque" src="assets\img\grid46.jfif" alt="" > 
                    <div class="uk-overlay uk-position-bottom uk-text-center uk-inline-clip uk-transition-toggle" tabindex="0">
                        <i class="fa fa-cogs fa-4x uk-transition-scale-up uk-transition-opaque" style="color: aliceblue;" aria-hidden="true" ></i>
                <p class="uk-transition-scale-up uk-transition-opaque" style="color: aliceblue;">BUILD <br>YOUR OWN</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-inline-clip uk-transition-toggle" tabindex="0">
                    <img class="uk-height-large uk-transition-scale-up uk-transition-opaque" src="assets\img\grid43.jfif" alt="" > 
                    <div class="uk-overlay uk-position-bottom uk-text-center uk-inline-clip uk-transition-toggle" tabindex="0">
                        <i class="fa fa-star-o fa-4x uk-transition-scale-up uk-transition-opaque" style="color: aliceblue;" aria-hidden="true" ></i>
                <p class="uk-transition-scale-up uk-transition-opaque" style="color: aliceblue;">SPECIAL<br> OFFERS</p>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default uk-inline-clip uk-transition-toggle" tabindex="0">
                    <img class="uk-height-large uk-transition-scale-up uk-transition-opaque" src="assets\img\grid49.jfif" alt="" > 
                    <div class="uk-overlay uk-position-bottom uk-text-center uk-inline-clip uk-transition-toggle" tabindex="0">
                        <i class="fa fa-search fa-4x uk-transition-scale-up uk-transition-opaque" style="color: rgb(255, 255, 255);" aria-hidden="true" ></i>
                <p class="uk-transition-scale-up uk-transition-opaque" style="color: aliceblue;">VIEW <br>INVENTORY</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="uk-container uk-container-small uk-margin-xlarge-top">
        <div class="uk-align-center">
            <p class="uk-text-center  uk-text-bold">IN THE SPOTLIGHT</p>
            <p class="uk-text-large  uk-text-lighter uk-text-center" style="font-size:46px;" >Discover Mercedes-Benz</p>
        </div>
        <div class="uk-child-width-1-2@m " uk-grid>
            <div>
                <div class="uk-card  ">
                    <div class= " uk-align-center uk-child-width-1-2">
                        <img  class=" uk-align-center  uk-height-large" src="assets\img\grid3.jfif" alt="" uk-img >
                    </div>
                </div>
                <div>
            01<a href="#"class="uk-margin-medium-left uk-text-bold">Save Time and Shop Online</a><p class="uk-margin-large-left uk-text-small uk-margin-remove-top">For select Certified Pre-Owned vehicles, you can build your deal in a few easy steps and finalize purchase with the dealer.</p>    
                   </div>
              
            </div>
        
            <div>
                <div class="uk-card ">
                    <div class="uk-align-center  uk-card-small uk-child-width-1-2">
                        <img  class=" uk-align-center uk-height-small " src="assets\img\grid1.jfif" alt="" uk-img >
                    </div>
                  
                        02<a href="#"class="uk-margin-medium-left  uk-text-justify uk-text-bold">Dedicated  service, exceptional care</a><p class="uk-margin-large-left uk-text-small uk-text-justify uk-margin-remove-top">Our team has what it takes to keep your Merccedes-Benz running at peak perfomance for miles to come.</p>    
                  <div class="uk-margin-medium-top">
                    <div class="uk-card uk-align-center   uk-card-small uk-child-width-1-2">
                        <img  class=" uk-align-center uk-height-small " src="assets\img\grid2.jfif" alt="" uk-img >
                  </div>
                    </div>
                    <div>      
                    <div class=" uk-margin-medium-top">
                        03<a href="#"class="uk-margin-medium-left uk-text-bold">Mercedes me connect</a><p class="uk-margin-large-left uk-text-small uk-margin-remove-top">The last connected vehicle services put your vehicle in the palm of your hand</p>    
                               </div>
                            </div> 
                </div>
            </div>
        </div>
    </div>



    <div class="uk-container uk-container-small uk-margin-xlarge-top">
        <div class="uk-align-center">
            <p class="uk-text-center  uk-text-bold">FUTURE VEHICLES</p>
            <p class="uk-text-large  uk-text-lighter uk-text-center" style="font-size:46px;" >Upcoming Releases</p>
        </div>
        <button class="uk-button uk-button-default uk-button-small uk-width-3-4 uk-align-center "  type="button" uk-align-center>DISCOVER
            <span style="color: #1e0b86d0;font-weight:bold;">THE NEW 2021 MERCEDES-AMG GT BLACK SERIES</span><span class="uk-icon uk-margin-small-right" uk-icon="icon: chevron-down" ></span></button>
<div  uk-dropdown="pos: bottom-center" uk-width-expand>
    <div class="uk-panel uk-panel-scrollable  uk-width-expand> ">
    <ul class="uk-nav uk-dropdown-nav uk-text-large">
        <li class="uk-active "><a href="#" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'">The new 2021 Mercedes-AMG GT Black series</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'">All-new Mercedes-Maybach GLS SUV</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'">The new 2021 Mercedes-Benz E-Class Sedan</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'">The new 2021 Mercedes-Benz E-Class All-Terrian</a></li>    
        </ul>
</div>
</div>
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container ">
            <img src="assets\img\car.jfif" alt="" uk-cover>
            <canvas width="600" height="400"></canvas>
        </div>
        <div>
           
            <div class="uk-card-body uk-margin-large">
                <p class=" uk-text-center uk-small">INTRODUCING</p>
                <p class="uk-card-title uk-text-large uk-text-bold uk-text-center uk-margin-large-left uk-margin-large-right">2021 Mercedes-AMG GT Black Series</p>
                <p class=" uk-text-center uk-small uk-text-light  uk-margin-medium-left uk-margin-medium-right">Reaching new heights in power, agility and style.</p>
                <button class="uk-button uk-button-primary uk-button-small uk-align-center uk-text-small uk-text-bold">Explore</button>
            </div>
            
        </div>
    </div>
    
    </div>
    <div class="uk-container uk-container-small uk-margin-xlarge-top">
        <div class="uk-align-center">
            <p class="uk-text-center   uk-text-bolder">MERCEDES-BENZ ACCESSORIES</p>
            <p class="uk-text-large  uk-text-lighter uk-text-lead uk-text-center"  style="font-size:45px;">For You and Your Vehicle</p>
        </div>
        <div class="uk-child-width-1-2@m" uk-grid>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-child-width-1-2@m uk-grid-collapse" uk-grid>
                    <div class="uk-card">
                        <img    class="uk-height-small" src="assets\img\grid41.jfif" alt="">
                    </div>
                    <div class="uk-card">
                        <img  class="uk-height-small" src="assets\img\part2.jfif" alt="">
                    </div>
                    <div class="uk-card">
                        <img   class="uk-height-small"  src="assets\img\part5.jfif" alt="">
                    </div>
                    <div class="uk-card">
                        <img  class="uk-height-small" src="assets\img\part3.jfif" alt="">
                    </div>
                </div>
          
                    <div class="uk-card ">
                        <p class="uk-text-left uk-text-bold uk-margin-top">Genuine Mercedes-Benz Vehicle Accessiries</p>
                        <p class="uk-text-small" style="font-size:12px;">Items made with greater personalization and added protection in mind.</p>
                        <button class="uk-button uk-button-primary uk-button-small uk-align-left uk-text-small uk-text-bold">Shop Now</button>
                   
                </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-child-width-1-3@m uk-grid-collapse " uk-grid>
                    
                    <div class="uk-card ">
                        <img   class="uk-height-medium" src="assets\img\shirt2.jfif"  alt="">
                    </div>
                    <div class="uk-card ">
                        <img class="uk-height-medium" src="assets\img\watch.jfif" alt="">
                    </div>
                    <div class="uk-card ">
                        <img class="uk-height-medium" src="assets\img\bag.jfif" alt="" >
                    </div>
               
                </div>
                <div class="uk-card ">
                    <p class="uk-text-left uk-text-bold uk-margin-top">This year, add the three-pointed star to your everyday life.</p>
                    <p class="uk-text-small" style="font-size:12px;">Craftmanship and timeless style should extend beyond your vehicle. the Lifestyle Collection lets you express your passion wherever you go.</p>
                    <button class="uk-button uk-button-primary uk-button-small uk-align-left uk-text-small uk-text-bold">Shop Now</button>
               
            </div>
                </div>
            </div>
        </div>
    </div>



    <div class="uk-container uk-container-large " style="background: rgb(192, 191, 189);">
        <div class="uk-child-width-expand  uk-margin-large-left uk-margin-large-right uk-margin-medium-top" uk-grid>

            <div >
                <h4 class="uk-heading-divider" style="color: black;">Vehicles</h4>
                <ul class="uk-list uk-text-bold  uk-link-text uk-link-heading" style="color: black;">
                    <li><a href="#">SUVs</a></li>
                    <li><a href="#">Sedans & Wagans</a></li>
                    <li><a href="#">Coupes</a></li>
                    <li><a href="#">Convertibles and Roadsters</a></li>
                    <li><a href="#">Hybrid & Electric</a></li>
                    <li><a href="#">All Vehicles</a></li>
                    <li><a href="#">Future Vehicles</a></li>
                    <li><a href="#">Certified Pre-Owned</a></li>
                    <li><a href="#">Fleet Program</a></li>
                    <li><a href="#">Mercedes-Benz Vans</a></li>
                </ul>
            </div>
            <div >
                <h4 class="uk-heading-divider" style="color: black;">Shopping Tools</h4>
                <ul class="uk-list uk-text-bold  uk-link-text uk-link-heading" style="color: black;">
                    <li><a href="#">Build</a></li>
                    <li><a href="#">Compare Vehicles</a></li>
                    <li><a href="#">Find a Dealer</a></li>
                    <li><a href="#">View Inventory</a></li>
                    <li><a href="#">Special Offers</a></li>
                    <li><a href="#">Financial Services</a></li>
                    <li><a href="#">Estimate a Payment</a></li>
                    <li><a href="#">Request a Quote</a></li>
                    <li><a href="#">Schedule a Test Drive</a></li>
                    <li><a href="#">Apply for credit</a></li>
                    <li><a href="#">Trade-In Value</a></li>
                    <li><a href="#">Brochures</a></li>
                </ul>
            </div>
            <div >
                <h4 class="uk-heading-divider" style="color: black;">Owners</h4>
                <ul class="uk-list uk-text-bold  uk-link-text uk-link-heading" style="color: black;">
                    <li><a href="#">Mercedes me connect</a></li>
                    <li><a href="#">Mercedes me</a></li>
                    <li><a href="#">Owners Support</a></li>
                    <li><a href="#">Maintenance Support</a></li>
                    <li><a href="#">Owners Manuals</a></li>
                    <li><a href="#">Schedule Service</a></li>
                    <li><a href="#">Accessiries</a></li>
                    <li><a href="#">Mobile Apps</a></li>
                    <li><a href="#">Fleet Program</a></li>
                    <li><a href="#">Recall Information</a></li>
                </ul>
            </div>
            <div >
                <h4 class="uk-heading-divider" style="color: black;">Discover Mercedes-Benz</h4>
                <ul class="uk-list uk-text-bold  uk-link-text uk-link-heading" style="color: black;">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">The Best or Nothing</a></li>
                    <li><a href="#">What is CASE</a></li>
                    <li><a href="#">Mercedes-Benz EQ</a></li>
                    <li><a href="#">For Enthusiasts</a></li>
                    <li><a href="#">Events and partnerships</a></li>
                    <li><a href="#">European Delivery Program</a></li>
                    <li><a href="#">Mercedes-Benz Military Program</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        
            
        </div>
        <div  class=" uk-child-width-expand uk-margin-large-left uk-margin-large-right " uk-grid>
            <div class="">
            <h4 class="uk-heading-divider" style="color: black;">Stay in Touch</h4> 
            <p class="">Receive the latest news, special offers and exclusives.</p>
           <form><input class="uk-input uk-form-width-medium" type="text" placeholder="Your email address" style="border: none;">  <button class="uk-button uk-button-default" style="background: black;color: blanchedalmond;">Subscribe</button>
           <a href="" class="uk-icon-button uk-margin-small-right uk-float-right"style="background:black" onmouseover="this.style.background='blue'" onmouseout="this.style.background='black'" uk-icon="twitter"></a>
           <a href="" class="uk-icon-button  uk-margin-small-right uk-float-right" style="background:black" onmouseover="this.style.background='blue'" onmouseout="this.style.background='black'" uk-icon="facebook"></a>
           <a href="" class="uk-icon-button uk-margin-small-right uk-float-right" style="background:black" onmouseover="this.style.background='blue'" onmouseout="this.style.background='black'" uk-icon="google-plus"></a></form>
              </div>
              
            </div>

    
       <div  class=" uk-child-width-expand uk-margin-large-left uk-margin-large-right " uk-grid>
            <div class="">
            <h4 class="uk-heading-divider" style="color: black;">
                Other Mercedes-Benz Sites</h4> 
            </div> 
        </div>
        <div class="uk-child-width-1-4@s uk-grid-match uk-margin-large-left uk-margin-large-right" uk-grid>
            <div>
                <div class="uk-card">
                    <a href="#" style="color: black;"> Mercedes-Benz Vans
                        
                    </a>
                     </div>
            </div>
            <div>
                <div class="uk-card">
               
             <a href="#"  class="uk-text-bold uk-text-large" style="color: black;"><img data-src="assets\img\s.jfif" width="20" height="20" alt="" uk-img >
                        Smart
                    </a>
                
                 </div> 
            </div>
            <div>
                <div class="uk-card ">
                    <a href="#"  class="uk-text-bold uk-text-large" style="color: black;"><img data-src="assets\img\amg.png" width="80" height="80" alt="" uk-img >
                      
                    </a>
                   
                </div>
            </div>
            <div>
                <div class="uk-card  ">
                    <a href="#" class=" uk-text-italic" style="color: black;"> Mercedes-Benz Financial Services
                        
                    </a>
                   
                        
                </div>
            </div>
        </div>
    </div>
</body>
</html>